@import "reset";
@import "variables";
@import "mixin";

.bg-life        { @include bg-orange }
.bg-study       { @include bg-green }
.bg-bigevent    { @include bg-red }
.bg-sport       { @include bg-yellow }
.bg-other       { @include bg-purple }
.bg-work        { @include bg-blue }
.bg-game        { @include bg-syan }
.bg-film        { @include bg-magenta }

.body-normal{background-color: $bg-light;}
.body-white{background-color: white;}

//FRAME
body{
  position: relative;
}
.container{
  padding: 45px 0;
  width: 100%;
}
