
// Alert
.alert{
  width: 70%;
  background-color: #fff;
  top: 35%;
  left: 15%;
  z-index: 100;
  position: absolute;
  padding-top: 25px;
  @include border-radius(15px);
  h3{
    padding: 0 30px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: $fz-big;
  }
  p{
    padding: 0 30px 20px;
    text-align: center;
    line-height: 120%;
    font-size: $fz-note;
  }
  button{
    font-weight: bold;
    @include border-radius(0 0 15px 15px);
    width: 100%;
    padding: 0 30px;
    display: block;
    height: 45px;
    font-size: $fz-big;
    //border-top: 1px solid $bg-light;
    background-color: $bg-light;
    &:hover, &:active{
      background-color: $bg-light;
    }
  }
}

.popMessage{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0 8px;
  text-align: center;
  background-color: $bg-navbar;
  h3{
    line-height: 25px;
    font-size: $fz-note;
  }
  &-default { h3{color: white;} }
  &-warning { h3{color: $orange;} }
  &-success { h3{color: $green;} }
  &-danger  { h3{color: $red;} }
}