//NEW

$height-input: 40px;
textarea{
  &:focus{
    @include box-shadow(inset 1px 1px 5px rgba(0,0,0,0.2))
  }
}

.diary-editor-title{
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  padding: 15px;
  font-size: 1.1em;
  border-bottom: 1px solid $bg-light;
}

.diary-editor-content{
  display: block;
  width: 100%;
  resize: vertical;
  height: 220px;
  padding: 15px;
  font-size: 1em;
  border-bottom: 1px solid $bg-light;
}
.diary-input-group{
  display: flex;
  font-size: 18px;
  padding: 0 10px;
  background-color: #fff;
  height: $height-input;
  border-bottom: 1px solid $bg-light;
  label{
    @include unselectable();
    width: 50%;
    color: $color-date;
    line-height: $height-input;
  }
  input{
    width: 50%;
    text-align: right;
    background-color: transparent;
    font-size: 18px;
    padding: 6px;
    line-height: $height-input - 6*2;
  }
  .temperature{
    padding: 5px 10px;
  }
}

.category-selector{
  @include border-radius(10px);
  margin: 8px;
  $gaps: 4%;
  $cols: 5;
  padding: 15px 15px 5px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  input[id^=category-] + label{
    flex-shrink: 0;
    @include unselectable;
    display: block;
    font-weight: bold;
    width: (100 - ($cols - 1) * $gaps) / $cols;
    margin-bottom: 10px;
    margin-right: $gaps;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    @include border-radius(5px);
    text-align: center;

    &:nth-child(#{$cols}n+0){
      margin-right: 0;
    }
  }

  @media screen and (min-width:$width-seprator){
    flex-flow: row nowrap;
    justify-content: space-around;

    label{
      flex-grow: 1;
      flex-shrink: 1 !important;
      margin-right: 0 !important;
    }
  }

  @mixin category-item-template($color) {
    background-color: $color;
    color: white;
  }

  #category-study + label     {color: $green;}
  #category-game + label      {color: $syan;}
  #category-work + label      {color: $blue;}
  #category-other + label     {color: $purple;}
  #category-sport + label     {color: $yellow;}
  #category-diary + label     {color: $main-orange;}
  #category-bigevent + label  {color: $red;}
  #category-film + label      {color: $magenta;}

  #category-study:checked + label     { @include category-item-template($green)}
  #category-game:checked + label      { @include category-item-template($syan)}
  #category-work:checked + label      { @include category-item-template($blue)}
  #category-other:checked + label     { @include category-item-template($purple)}
  #category-sport:checked + label     { @include category-item-template($yellow)}
  #category-diary:checked + label     { @include category-item-template($main-orange)}
  #category-bigevent:checked + label  { @include category-item-template($red)}
  #category-film:checked + label      { @include category-item-template($magenta)}
}


.weather-selector{
  @include border-radius(10px);
  margin: 8px;
  display: flex;
  $gaps: 5%;
  $cols: 6;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  input[id^=weather-] + label {
    flex-grow: 1;
    flex-shrink: 0;
    background: center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    height: 30px;
    @include unselectable;
    display: block;
    font-weight: bold;
    width: (100 - ($cols - 1) * $gaps) / $cols;
    cursor: pointer;
    img{
      margin: 0 auto;
      height: 30px;
      display: block;
    }
    &:nth-child(#{$cols}n+0) {
      margin-right: 0;
    }
  }

  @mixin weather-item-template($color) {
    background-color: $color;
    color: white;
  }

  #weather-sunny + label        {background-image: url(../img/weather/sunny.svg)}
  #weather-cloudy + label       {background-image: url(../img/weather/cloudy.svg)}
  #weather-overcast + label     {background-image: url(../img/weather/overcast.svg)}
  #weather-fog + label          {background-image: url(../img/weather/fog.svg)}
  #weather-sprinkle + label      {background-image: url(../img/weather/sprinkle.svg)}
  #weather-rain + label         {background-image: url(../img/weather/rain.svg)}
  #weather-thunerstorm + label  {background-image: url(../img/weather/thunderstorm.svg)}
  #weather-snow + label         {background-image: url(../img/weather/snow.svg)}

  #weather-sunny:checked + label        {background-image: url(../img/weather/sunny_active.svg)}
  #weather-cloudy:checked + label       {background-image: url(../img/weather/cloudy_active.svg)}
  #weather-overcast:checked + label     {background-image: url(../img/weather/overcast_active.svg)}
  #weather-fog:checked + label          {background-image: url(../img/weather/fog_active.svg)}
  #weather-sprinkle:checked + label      {background-image: url(../img/weather/sprinkle_active.svg)}
  #weather-rain:checked + label         {background-image: url(../img/weather/rain_active.svg)}
  #weather-thunerstorm:checked + label  {background-image: url(../img/weather/thunderstorm_active.svg)}
  #weather-snow:checked + label         {background-image: url(../img/weather/snow_active.svg)}
}

// 隐藏所有 Input
input[id^=category-], input[id^=weather-]{
  display: none;
}