
.list-content{
  background-color: #fff;
}

.diary-list-group{
  .list-header{
    border-top: 1px solid $color-seperator;
    border-bottom: 1px solid $color-seperator;
    font-family: $font-family;
    font-size: $list-header-font-size;
    font-weight: bold;
    text-align: left;
    padding: 0 20px;
    color: black;
    background-color: $main-light-gray;
    height: $list-header-height;
    line-height: $list-header-height;
  }
  .list-item{
    display: block;
    flex-flow: row nowrap;
    height: $list-item-height;
    &:last-child{
      .detail{
        border: 0;
      }
    }
    &:hover{
      background-color: $color-list-selected;
    }
    .category{
      float: left;
      width: $index-category-width;
      height: $list-item-height;
      display: block;
    }
    .date{
      float: left;
      width: $index-date-width;
      padding: 0 5px;
      flex-shrink: 0;
      text-align: center;
      line-height: $list-item-height;
      font-size: $list-item-font-size;
      font-weight: bold;
      color: $color-diary-date;
    }
    .detail{
      position: relative;
      display: flex;
      padding-right: 8px;
      margin-left: 35px;
      .title{
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $list-item-height;
        display: block;
        font-size: $list-item-font-size;
        color: $color-diary-title;
      }
      .icon{
        flex-shrink: 0;
        padding: 4px 0;
        height: $list-item-height;
        width: $list-item-height - 4 * 2;
        display: block;
      }
      &::after{
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid $main-light-gray;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }
    }

  }
}

.load-more {
  @include unselectable;
  background-color: white;
  border: 1px solid lighten($gray, 10%);
  display: block;
  line-height: 30px;
  font-size: $list-item-font-size;
  text-align: center;
  width: 40%;
  margin: 20px auto 30px;
  @include border-radius(5px);

  &:active{
    color: $main-bg-color;
    border-color: $main-bg-color;
  }
}




.end-of-diary{
  @include box-shadow(1px 2px 4px #00000012);
  background-color: white;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 20px 0 10px;
  img{
    height: 45px;
  }
}

.search-bar{
  background-color: $color-searchbar-bg;
  position: relative;
  padding: 8px 10px;
  input{
    width: 100%;
    line-height: 25px;
    @include border-radius($radius);
    padding: 5px 10px;
    display: block;
    border: 1px solid $color-seperator;
    font-size: 1em;
    &:focus{
      border-color: $main-orange;
      box-shadow: 1px 1px 5px #00000011;
    }
  }
  .clear{
    color: $gray;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 17px;
    right: 20px;
    display: block;
  }
}