
.loading{
  height: $load-box-height;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .loading-item{
    width: 3px;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-1{
    height: $load-box-height * 1;
    -webkit-animation: load-frame 1s infinite linear 0s;
    -o-animation: load-frame 1s infinite linear 0s;
    animation: load-frame 1s infinite linear 0s;
    background-color: $red;
  }
  &-2{
    height: $load-box-height * 0.5;
    -webkit-animation: load-frame 1s infinite linear 0.25s;
    -o-animation: load-frame 1s infinite linear 0.25s;
    animation: load-frame 1s infinite linear 0.25s;
    background-color: $main-orange;
  }
  &-3{
    height: $load-box-height * 0.25;
    -webkit-animation: load-frame 1s infinite linear 0.5s;
    -o-animation: load-frame 1s infinite linear 0.5s;
    animation: load-frame 1s infinite linear 0.5s;
    background-color: $main-bg-color;
  }
  &-4{
    height: $load-box-height * .5;
    -webkit-animation: load-frame 1s infinite linear 0.75s;
    -o-animation: load-frame 1s infinite linear 0.75s;
    animation: load-frame 1s infinite linear 0.75s;
    background-color: $green;
  }
}

@keyframes load-frame {
  0% {height: $load-box-height * .25;}
  50% {height: $load-box-height * 1;}
  100% {height: $load-box-height * .25;}
}

@-webkit-keyframes load-frame {
  0% {height: $load-box-height * .25;}
  50% {height: $load-box-height * 1;}
  100% {height: $load-box-height * .25;}
}
