<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="css/diary.css?v3.2.0">
    <!--js-->
    <!--<script src="js/vue_2.66.js"></script>--> <!--develop-->
    <script src="js/vue.min.2.6.10.js"></script> <!--production-->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/diary.js?v3.2.0"></script>

    <link rel="shortcut icon" href="img/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="img/touch-icon.png">

    <title>日记</title>
</head>
<body class="body-normal">


<nav class="navbar clearfix" id="navbar">
    <div @click="closeEditor"      class="navbar-btn left" > <img src="img/tabicon/back.png" alt="关闭"></div>
    <div @click="confirmClicked"  v-show="confirmBtnShow" class="navbar-btn right" ><img src="img/tabicon/confirm.png" alt="确定"></div>
    <div class="brand">
        <a @click="showContentEditor"><img src="img/logo.png" alt="日记"></a>
    </div>
</nav>


<div class="container" id="diaryEditor">



    <textarea id="diary-editor-title" class="diary-editor-title" placeholder="一句话，概括你的一天" v-model.lazy="title"></textarea>
    <textarea v-show="contentEditorShowed" id="diary-editor-content" class="diary-editor-content" placeholder="日记详细内容，如果你有很多要写的" v-model.lazy="content"></textarea>

    <div class="input-group">
        <label for="date">日期</label>
        <input placeholder="选择时间" class="date" type="date" name="date" id="date" v-model="date">
    </div>
    <div class="input-group">
        <label for="date">气温 ℃</label>
        <input placeholder="--" class="temperature" type="number" name="temperature" id="temperature" v-model="temperature">
    </div>

    <div class="category-selector">
        <input type="radio" name="category" value="life"    id="category-diary" v-model="category">
        <label for="category-diary">生活</label>
        <input type="radio" name="category" value="study"   id="category-study" v-model="category">
        <label for="category-study">学习</label>
        <input type="radio" name="category" value="work"    id="category-work" v-model="category">
        <label for="category-work">工作</label>
        <input type="radio" name="category" value="game"    id="category-game" v-model="category">
        <label for="category-game">游戏</label>
        <input type="radio" name="category" value="film"    id="category-film" v-model="category">
        <label for="category-film">电影</label>
        <input type="radio" name="category" value="sport"   id="category-sport" v-model="category">
        <label for="category-sport">运动</label>
        <input type="radio" name="category" value="bigevent" id="category-bigevent" v-model="category">
        <label for="category-bigevent">大事</label>
        <input type="radio" name="category" value="others"  id="category-others" v-model="category">
        <label for="category-others">其它</label>
    </div>

    <div class="weather-selector">
        <input type="radio" name="weather" value="sunny"    id="weather-sunny" v-model="weather">
        <label for="weather-sunny">       </label>
        <input type="radio" name="weather" value="cloudy"   id="weather-cloudy" v-model="weather">
        <label for="weather-cloudy">      </label>
        <input type="radio" name="weather" value="overcast"    id="weather-overcast" v-model="weather">
        <label for="weather-overcast">    </label>
        <input type="radio" name="weather" value="fog"    id="weather-fog" v-model="weather">
        <label for="weather-fog">         </label>
        <input type="radio" name="weather" value="spinkle"    id="weather-spinkle" v-model="weather">
        <label for="weather-spinkle">     </label>
        <input type="radio" name="weather" value="rain"    id="weather-rain" v-model="weather">
        <label for="weather-rain">        </label>
        <input type="radio" name="weather" value="thunderstorm"   id="weather-thunerstorm" v-model="weather">
        <label for="weather-thunerstorm"> </label>
        <input type="radio" name="weather" value="snow" id="weather-snow" v-model="weather">
        <label for="weather-snow">        </label>
    </div>

</div>


<div class="action-list-group" id="modal-action">
    <action-list-item
            v-for="action in actions"
            v-bind:action="action"
            v-bind:key="action.id"
    ></action-list-item>
</div>

<script>

    Vue.component('action-list-item', {
        props: ['action'],
        template: `<div :onclick="action.action" class="action-list-item" :class="action.class">{{action.title}}</div>`
    });

    let modal = new Vue({
        el: '#modal-action',
        data: {
            actions:[],
            delete: [{
                id: 1,
                class: '',
                title: '删除',
                action: 'showConfirm()'
            }],
            confirm: [
                {
                    id: 1,
                    class:'red',
                    title: '确定删除',
                    action: 'deleteCurrentDiary()'
                },
                {
                    id: 2,
                    class: '',
                    title: '取消',
                    action: 'closeConfirm()'
                }
            ]
        },
        created: function() {
            let searchString = location.search;
            if (searchString !== undefined && searchString !== ''){
                this.actions = this.delete;
            }
        },
        method: {

        }

    });

    function showConfirm () {
        modal.actions = modal.confirm;
    }

    function closeConfirm () {
        modal.actions = modal.delete;
    }

    function deleteCurrentDiary() {
        let queryData = {
            diaryId: diaryEditor.id,
            type: 'delete'
        };
        $.ajax({
            url: URL.diaryOperation,
            dataType: 'json',
            method: 'POST',
            data: queryData,
            success: function (data) {
                if (data.success) {
                    popMessage(promptType.success, data.info, () => {
                        location = FrontURL.index
                    }, 1) // 删除成功后等待时间不要太长
                } else if (!data.logined) {
                    location = FrontURL.login;
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }

    // Navbar
    let navbar = new Vue({
        el:"#navbar",
        data:{
            confirmBtnShow: true
        },
        methods:{
            closeEditor:function () {
                history.back();
            },
            confirmClicked: function () {
                if(diaryEditor.title.trim().length === 0) {
                    diaryEditor.title = ''; // clear content
                    popMessage(promptType.warning, '内容未填写',()=>{});
                    return;
                }
                let queryData = {
                    diaryId: diaryEditor.id,
                    diaryTitle: diaryEditor.title,
                    diaryContent: diaryEditor.content? diaryEditor.content: null ,
                    diaryCategory: diaryEditor.category,
                    diaryTemperature: diaryEditor.temperature,
                    diaryWeather: diaryEditor.weather,
                    diaryDate: diaryEditor.date + ' 00:00:00'
                };

                if (diaryEditor.id === ''){
                    queryData.type = 'add';
                } else {
                    queryData.type = 'modify';
                }

                this.confirmBtnShow = false;

                $.ajax({
                    data: queryData,
                    method: 'POST',
                    url: URL.diaryOperation,
                    success:(data) => {
                        data = JSON.parse(data);
                        if (data.success){
                            navbar.confirmBtnShow = true;
                            if (diaryEditor.id === ''){         // 新建日记
                                diaryEditor.content = '';
                                popMessage(promptType.success, data.info)
                            } else {                            // 编辑日记
                                popMessage(promptType.success, data.info, ()=>{
                                    history.back()
                                })
                            }
                        } else if (!data.logined){ // 未登录
                            popMessage(promptType.default, data.info, () => {
                                location = FrontURL.login;
                            })
                        } else {
                            popMessage(promptType.default, data.info);
                            navbar.confirmBtnShow = true;
                        }
                    },
                    error: (xhr) => {
                        console.log(xhr)
                    }
                })
            },
            showContentEditor: function () {
                diaryEditor.contentEditorShowed = !diaryEditor.contentEditorShowed;
            }
        }
    });


    let diaryEditor = new Vue({
        el: '#diaryEditor',
        data: {
            contentEditorShowed: false,
            id:"",
            title: "",
            content:"",
            date: "",
            category: "life",
            temperature: 26,
            weather: "sunny"
        },
        created: function () {
            let searchString = location.search;
            if (searchString !== undefined && searchString !== ''){
                let id = location.search.substring(location.search.lastIndexOf('=') + 1); // 获取id值
                $.ajax({
                    url: URL.diaryOperation,
                    dataType: 'json',
                    data: {
                        'type': 'query',
                        'diaryId': id
                    },
                    success: function (data) {
                        if (data.success){
                            let diary = data.data[0];
                            diaryEditor.id = diary.id;
                            diaryEditor.title = diary.title;
                            diaryEditor.content = diary.content;
                            diaryEditor.date = diary.date.substring(0,diary.date.indexOf(' '));
                            diaryEditor.category = diary.category;
                            diaryEditor.temperature = diary.temperature;
                            diaryEditor.weather = diary.weather;

                            if(diary.content){
                                diaryEditor.contentEditorShowed = true;
                            }
                        }

                    }
                });
            } else {
                let now = new Date();
                let day = now.getDate().toString().padStart(2,'0');
                let month = (now.getMonth()+1).toString().padStart(2,'0');
                this.date = `${now.getFullYear()}-${month}-${day}`;
            }
        }
    })
</script>
</body>
</html>
