<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="../../lib/css/reset.css">
    <link rel="stylesheet" href="css/diary.css">
    <!--js-->
    <script src="../../lib/js/vue_2.66.js"></script>
    <script src="../../lib/js/jquery-2.2.4.min.js"></script>
    <script src="../../lib/js/jquery.cookie%202.js"></script>
    <script src="js/diary.js"></script>

    <link rel="shortcut icon" href="img/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="img/touch-icon.png">

    <title>日记</title>
</head>
<body>


<nav class="navbar clearfix" id="navbar">
    <div @click="closeEditor"      class="navbar-btn left" > <img src="img/tabicon/close.png" alt="关闭"></div>
    <div @click="confirmClicked"   class="navbar-btn right" ><img src="img/tabicon/confirm.png" alt="确定"></div>
    <div class="brand">
        <a href=".."><img src="img/logo.png" alt="日记"></a>
    </div>
</nav>


<div class="container" id="diaryEditor">

    <textarea class="diary-editor" v-model.lazy="content"></textarea>
    <div class="date-selector">
        <label for="date" class="title">日期</label>
        <input placeholder="选择时间" class="date" type="date" name="date" id="date" v-model="date">
    </div>
    <div class="category-selector">
        <input type="radio" name="category" value="life"    id="category-diary" v-model="category">
        <label for="category-diary">生活</label>
        <input type="radio" name="category" value="study"   id="category-study" v-model="category">
        <label for="category-study">学习</label>
        <input type="radio" name="category" value="work"    id="category-work" v-model="category">
        <label for="category-work">工作</label>
        <input type="radio" name="category" value="sport"   id="category-sport" v-model="category">
        <label for="category-sport">运动</label>
        <input type="radio" name="category" value="bigevent" id="category-bigevent" v-model="category">
        <label for="category-bigevent">大事</label>
        <input type="radio" name="category" value="others"  id="category-others" v-model="category">
        <label for="category-others">其它</label>

    </div>
    <div class="operation">
        <a class="btn btn-action">删除</a>
    </div>
</div>

<script>

    // Navbar
    let navbar = new Vue({
        el:"#navbar",
        data:{
        },
        methods:{
            closeEditor:function () {
                location = '.';
            },
            confirmClicked: function () {
                let queryData = {
                    diaryId: diaryEditor.id,
                    diaryContent: diaryEditor.content,
                    diaryCategory: diaryEditor.category,
                    diaryDate: diaryEditor.date + ' 00:00:00'
                };
                if (diaryEditor.id === ''){
                    queryData.type = 'add';
                    $.ajax({
                        data:queryData,
                        method: 'POST',
                        url: URL.diaryOperation,
                        success:( data ) => {
                            data = JSON.parse(data);
                            if(data.success){
                                diaryEditor.id = '';
                                diaryEditor.content = '';
                                diaryEditor.category = 'life';
                            }
                            prompt(data.info)
                        },
                        error: (xhr) => {
                            console.log(xhr)
                        }
                    })
                } else {
                    queryData.type = 'modify';
                    $.ajax({
                        data:queryData,
                        method: 'POST',
                        url: URL.diaryOperation,
                        success:( data ) => {
                            data = JSON.parse(data);
                            prompt(data.info)
                        },
                        error: (xhr) => {
                            console.log(xhr)
                        }
                    })
                }
            }
        }
    });



    // variables
    let diaryID = 10;


    // query
    function getContent(id) {
        $.ajax({
            url: "portal/",
            dataType: 'json',
            data:{
                'type': 'edit_query',
                'id':diaryID,
            },
            success: function (data, statusText, xhr) {
                console.log(data);
                diaryEditor.content     = data.content;
                diaryEditor.date        = new Date(date.date);
                diaryEditor.category    = data.dategory
            },
            error: function (xhr, statusText, error) {
                console.log(statusText);
            }
        })
    }

    // Create
    function createNewDiary(){
        $.ajax({
            url: 'portal/',
            dataType: 'json',
            data: {
                'type': 'create',
                'content': diaryEditor.content,
                'date' : diaryEditor.date,
                'category' : diaryEditor.category
            },
            success: function (data, statusText, xhr) {
                // TODO: after success edit diary
                if (data.add_status){
                    console.log('添加成功');
                    window.document.location = 'index.html';
                } else {
                    console.log('添加失败')
                }
            },
            error: function (statusText, xhr, error) {
                console.log(statusText);
            }
        })
    }

    let diaryEditor = new Vue({
        el: '#diaryEditor',
        data: {
            id:"",
            content:"",
            date: "",
            category: "life"
        },
        created: function () {
            let searchString = location.search;
            if (searchString !== undefined){
                let id = location.search.substring(location.search.lastIndexOf('=') + 1); // 获取id值
                $.ajax({
                    url: URL.diaryOperation,
                    dataType: 'json',
                    data: {
                        'type': 'query',
                        'diaryId': id
                    },
                    success: function (data) {
                        if (data.success){
                            let diary = data.data[0];
                            diaryEditor.id = diary.id;
                            diaryEditor.content = diary.content;
                            diaryEditor.date = diary.date.substring(0,diary.date.indexOf(' '));
                            diaryEditor.category = diary.category;
                        }
                    }
                });
            } else {

            }
        }
    })
</script>
</body>
</html>
